* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    background-color: black;
}
#main-body{
    background:  #F8F8F4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

}
#title{
    color: var(--Dark, #3C3030);
    font-family: "Iowan Old Style";
    font-size: 85px;
    font-style: normal;
    font-weight: 450;
    line-height: 140% ;
    letter-spacing: 2px;
    font-stretch: extra-expanded;
    padding: 30px;
}

.line-container {
    display: flex;
    align-items: center; 
    width: 100%;
    margin-bottom:5px;
}

.flex-line {
    flex-grow: 1;
    height: 1.5px;
    background-color: rgb(60, 48, 48,0.7) 
}


#search-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    height:65px;
    width: 267px;
    margin-top:45px;
    margin-bottom: 87px;
}
.search-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    gap: 5px;
    border: 2px solid var(--Dark, rgb(60, 48, 48,0.3));
    border-right: none;
    padding-left: 10px;
    
}
#search{
    border: none;
    background-color: #F8F8F4;
    height: 56.8px;
    color: var(--Dark, #3C3030);
    font-family: "Iowan Old Style";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

#search:focus{
    outline: none; 
    border: none; 
    box-shadow: none;
}
#btn-go{
    height: 60px;
    width: 60px;
    background-color: #E84848;
    border: none;
    color: #F8F8F4;;
    font-family: "Iowan Old Style";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    padding : 17px 22px 17px 20px;
}

.news-articles{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    margin-bottom:54px;
}
#news-type{
    text-align: left;
    color: var(--Dark-Red, #D02424);
    font-family: "Inria Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
    letter-spacing: -0.4px;
    text-transform: uppercase;
}

#news{
    display: flex;
    flex-direction: column;
    gap:84px;
    justify-content: center;
    align-items: center;
}

#div1,
#div2,
#div3 {
    display: flex;
    flex-direction: row;
    gap : 80px;
    justify-content: center;
    align-items: center;
}

.news-article{
    width: 250px;
    height: 400px;
    border: none;
    padding:0px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:16px;
    text-align: left;
}

.images{
    height: 120px;
    width: 250px;
}

.headline{
    color: var(--Dark, #3C3030);
    font-family: "Inknut Antiqua";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
    letter-spacing: -0.72px;
}

.info{
    color: var(--Dark, rgb(60, 48, 48,0.8));
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.read-more{
    color: var(--Dark, #3C3030);
    font-family: "Inria Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
}

.links{
    color: var(--Dark-Red, #D02424);
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; 
    text-decoration-line: underline;
    letter-spacing: 0;
}

.links:hover{
    background-color: #add8e6;;
    padding:2px;
}

.footer{
    color: var(--Dark, #3C3030);
    font-family: "Inria Serif";
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-top:59px;
    margin-bottom : 59px;
}